<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssu_everything_contest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.SSU_Everything_Contest">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NorthFail" />
        <activity android:name=".NorthLoading" />
        <activity android:name=".NorthMain" />
        <activity android:name=".NorthSuccess" />
        <activity android:name=".SouthLoading" />
        <activity android:name=".SouthMain" />
        <activity android:name=".SouthSchool" />
        <activity android:name=".SouthCulture"/>
        <activity android:name=".CultureDetail"/>
        <activity android:name=".SouthFoodMain"/>
        <activity android:name=".NorthFoodMain"/>
        <activity android:name=".NorthCultureMain"/>
        <activity android:name=".setViewImg"/>

    </application>

</manifest>